In [1]:
import pandas as pd

Pandas indexing and slicing
    indexing: accessing rows and cols data from dataframe
    slicing: accessing range of rows and cols

In [2]:
#Acess cols of dataframe
data = {
    'name':['john', 'emma', 'michael','sophia'],
    'height':[5.5,6.0,5.8,5.3],
    'qualification':['bsc','bba','mba','bsc']
}


df = pd.DataFrame(data)

names = df['name']
print(names)

0       john
1       emma
2    michael
3     sophia
Name: name, dtype: object

In [4]:
##access multiple cols
names_city = df[['name','height']]
print(names_city)

      name  height
0     john     5.5
1     emma     6.0
2  michael     5.8
3   sophia     5.3

Pandas.loc
    allows us to acces and modify data within dataframe using label-based indexing
    allows us to select specific rows and cols based on their label

    df.loc[row_indexer, column_indexer]
    indexers can be single, list or boolean

In [8]:
single_row=df.loc[2]
print('Single row: ')
print(single_row)

#access rows 0,3,4
print("list of rows: ")
mul_row=df.loc[[0,3,1]]
print(mul_row)

Single row:
name             michael
height               5.8
qualification        mba
Name: 2, dtype: object
list of rows:
     name  height qualification
0    john     5.5           bsc
3  sophia     5.3           bsc
1    emma     6.0           bba

In [9]:
## slicing rows 
print(df.loc[1:3])

      name  height qualification
1     emma     6.0           bba
2  michael     5.8           mba
3   sophia     5.3           bsc

In [10]:
## slicing  cols
print(df.loc[:,'name':'height'])

      name  height
0     john     5.5
1     emma     6.0
2  michael     5.8
3   sophia     5.3

In [11]:
#boolean indexing with loc
print(df.loc[df['height']>5.7])

      name  height qualification
1     emma     6.0           bba
2  michael     5.8           mba

In [13]:
#integer based indexing with loc
print(df.iloc[2])

name             michael
height               5.8
qualification        mba
Name: 2, dtype: object

In [15]:
print(df.loc[[0,3,2]])

      name  height qualification
0     john     5.5           bsc
3   sophia     5.3           bsc
2  michael     5.8           mba

In [16]:
#query
#aloows to select data using a more sql like syntax
print(df.query('height>5.7'))

      name  height qualification
1     emma     6.0           bba
2  michael     5.8           mba

In [17]:
#select rows based on a list of values
names=['sophia','john']
#use isin() to select rows based on t he 'name' column
selected_rows = df[df['name'].isin(names)]

print(selected_rows.to_string(index=False))

  name  height qualification
  john     5.5           bsc
sophia     5.3           bsc

In [18]:
# create a dictionary
data = {
    "Continent": ["North America", "Europe", "Asia", "North America", "Asia", "Europe", "North America", "Asia", "Europe", "Asia"],
    "Country": ["United States", "Germany", "China", "Canada", "Japan", "France", "Mexico", "India", "United Kingdom", "Nepal"],
    "Population": [331002651, 83783942, 1439323776, 37742154, 126476461, 65273511, 128932753, 1380004385, 67886011, 29136808]
}

# create dataframe from dictionary
df = pd.DataFrame(data)
print(df)

       Continent         Country  Population
0  North America   United States   331002651
1         Europe         Germany    83783942
2           Asia           China  1439323776
3  North America          Canada    37742154
4           Asia           Japan   126476461
5         Europe          France    65273511
6  North America          Mexico   128932753
7           Asia           India  1380004385
8         Europe  United Kingdom    67886011
9           Asia           Nepal    29136808

Multiindexing:
MultiIndex in Pandas is a hierarchical indexing structure that allows us to represent and work with higher-dimensional data efficiently.

While a typical index refers to a single column, a MultiIndex contains multiple levels of indexes. Each column in a MultiIndex is linked to one another through a parent/relationship.

Notice the redundancy in the Continent column. North America and Europe are repeated three times each while Asia is repeated four times.

Additionally, we have arranged the entries in a random order and used integer values as index for the rows, thus complicating the task of locating data for a particular country. This task becomes tedious as the size of the data set grows.

In [19]:
#n Pandas, we achieve hierarchical indexing using the concept of MultiIndex.
# sort the data by continent
df.sort_values('Continent', inplace=True)

# create a multiindex
df.set_index(['Continent','Country'], inplace=True)

print(df)

                              Population
Continent     Country
Asia          China           1439323776
              Japan            126476461
              India           1380004385
              Nepal             29136808
Europe        Germany           83783942
              France            65273511
              United Kingdom    67886011
North America United States    331002651
              Canada            37742154
              Mexico           128932753

In [21]:
# access all entries under Asia
asia = df.loc['Asia']

# access Canada
canada = df.loc[('North America', 'Canada')]
print('Asia\n', asia)
print('\nCanada\n', canada)

Asia
          Population
Country
China    1439323776
Japan     126476461
India    1380004385
Nepal      29136808

Canada
 Population    37742154
Name: (North America, Canada), dtype: int64