Pandas

its a python library used for working with data sets

it has a function of analyzing, cleaning, exploring and manipulating data

it enables us to analyse big data and make conclusions based ons statistical theories

it can clean messy data sets and make them readable and relevant

In [2]:
import pandas as pd

In [4]:

mydataset = {
    'cars':["BMW","VOLVO","FORD"],
    'passings':[3,7,2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  VOLVO         7
2   FORD         2

Series

its like column in a table
1d array holding data of any type

In [8]:
a =[1,2,3]
series = pd.Series(a)
print(series)
print(series[2])

0    1
1    2
2    3
dtype: int64
3

Labels

by default the labels are 0 till items

but it can also be specified

In [12]:
a = [1,23,4]

srs_with_labels = pd.Series(a,index=["x","y","z"])
print(srs_with_labels)
print(srs_with_labels['z'])

x     1
y    23
z     4
dtype: int64
4

Key/Value pair(dictionary) as series

In [14]:
calorie = {
    "day1":223,
    "day2":324,
    "day3":670,
    "day4":100
}
dict_as_srs = pd.Series(calorie)
print(dict_as_srs)

day1    223
day2    324
day3    670
day4    100
dtype: int64

In [15]:
#to select some of the items from dict use index
calorie = {
    "day1":223,
    "day2":324,
    "day3":670,
    "day4":100
}
dict_as_srs = pd.Series(calorie,index=["day1","day3"])
print(dict_as_srs)

day1    223
day3    670
dtype: int64

Dataframes:
its like a whole table with rows and columns
whereas series is like column

datasets in pandas are usually multi-dimensional tables, called data frames

In [17]:
data = {
    "calories":[120,203,450,128],
    "duration":[12,34,60,16]
}
df = pd.DataFrame(data)
print(df)

   calories  duration
0       120        12
1       203        34
2       450        60
3       128        16

Locate row

as dataframe is a table with rows and columns.
pandas uses loc attribute to return one or more specified row

In [19]:
print(df.loc[0])#returns a series

calories    120
duration     12
Name: 0, dtype: int64

In [21]:
#list of indexes
print(df.loc[[0,1]])

   calories  duration
0       120        12
1       203        34

In [24]:
#named indexes

df = pd.DataFrame(data, index=["day1","day2","day3","day4"])
print(df)

#locate named index
print(df.loc["day2"])

      calories  duration
day1       120        12
day2       203        34
day3       450        60
day4       128        16
calories    203
duration     34
Name: day2, dtype: int64

Read CSV files

- simple way to store big data sets is to use CSV files (comma seperated files)

In [27]:
df = pd.read_csv('currency.csv')

print(df.to_string())

    Code Symbol                      Name
0    AED    د.إ    United Arab Emirates d
1    AFN      ؋            Afghan afghani
2    ALL      L              Albanian lek
3    AMD    AMD             Armenian dram
4    ANG      ƒ  Netherlands Antillean gu
5    AOA     Kz            Angolan kwanza
6    ARS      $            Argentine peso
7    AUD      $         Australian dollar
8    AWG   Afl.             Aruban florin
9    AZN    AZN         Azerbaijani manat
10   BAM     KM   Bosnia and Herzegovina
11   BBD      $          Barbadian dollar
12   BDT     ৳           Bangladeshi taka
13   BGN    лв.             Bulgarian lev
14   BHD   .د.ب            Bahraini dinar
15   BIF     Fr           Burundian franc
16   BMD      $          Bermudian dollar
17   BND      $             Brunei dollar
18   BOB    Bs.        Bolivian boliviano
19   BRL     R$            Brazilian real
20   BSD      $           Bahamian dollar
21   BTC      ฿                   Bitcoin
22   BTN    Nu.        Bhutanese ngultrum
23   BWP      P             Botswana pula
24   BYR     Br   Belarusian ruble (old)'
25   BYN     Br          Belarusian ruble
26   BZD      $             Belize dollar
27   CAD      $           Canadian dollar
28   CDF     Fr           Congolese franc
29   CHF    CHF               Swiss franc
30   CLP      $              Chilean peso
31   CNY      ¥              Chinese yuan
32   COP      $            Colombian peso
33   CRC      ₡         Costa Rican colón
34   CUC      $  Cuban convertible peso')
35   CUP      $                Cuban peso
36   CVE      $       Cape Verdean escudo
37   CZK     Kč              Czech koruna
38   DJF     Fr          Djiboutian franc
39   DKK    DKK              Danish krone
40   DOP    RD$            Dominican peso
41   DZD    د.ج            Algerian dinar
42   EGP    EGP            Egyptian pound
43   ERN    Nfk            Eritrean nakfa
44   ETB     Br            Ethiopian birr
45   EUR      €                      Euro
46   FJD      $             Fijian dollar
47   FKP      £  Falkland Islands pound')
48   GBP      £            Pound sterling
49   GEL      ₾             Georgian lari
50   GGP      £            Guernsey pound
51   GHS      ₵                Ghana cedi
52   GIP      £           Gibraltar pound
53   GMD      D            Gambian dalasi
54   GNF     Fr             Guinean franc
55   GTQ      Q        Guatemalan quetzal
56   GYD      $           Guyanese dollar
57   HKD      $          Hong Kong dollar
58   HNL      L          Honduran lempira
59   HRK     kn             Croatian kuna
60   HTG      G            Haitian gourde
61   HUF     Ft          Hungarian forint
62   IDR     Rp         Indonesian rupiah
63   ILS      ₪        Israeli new shekel
64   IMP      £                Manx pound
65   INR      ₹              Indian rupee
66   IQD    ع.د               Iraqi dinar
67   IRR      ﷼              Iranian rial
68   IRT  تومان             Iranian toman
69   ISK    kr.           Icelandic króna
70   JEP      £              Jersey pound
71   JMD      $           Jamaican dollar
72   JOD    د.ا           Jordanian dinar
73   JPY      ¥              Japanese yen
74   KES    KSh           Kenyan shilling
75   KGS    сом           Kyrgyzstani som
76   KHR      ៛            Cambodian riel
77   KMF     Fr            Comorian franc
78   KPW      ₩          North Korean won
79   KRW      ₩          South Korean won
80   KWD    د.ك             Kuwaiti dinar
81   KYD      $     Cayman Islands dollar
82   KZT      ₸         Kazakhstani tenge
83   LAK      ₭                   Lao kip
84   LBP    ل.ل            Lebanese pound
85   LKR     රු          Sri Lankan rupee
86   LRD      $           Liberian dollar
87   LSL      L              Lesotho loti
88   LYD    ل.د              Libyan dinar
89   MAD   د.م.           Moroccan dirham
90   MDL    MDL              Moldovan leu
91   MGA     Ar           Malagasy ariary
92   MKD    ден          Macedonian denar
93   MMK     Ks              Burmese kyat
94   MNT      ₮          Mongolian tögrög
95   MOP      P           Macanese pataca
96   MRU     UM       Mauritanian ouguiya
97   MUR      ₨           Mauritian rupee
98   MVR     .ރ         Maldivian rufiyaa
99   MWK     MK           Malawian kwacha
100  MXN      $              Mexican peso
101  MYR     RM         Malaysian ringgit
102  MZN     MT        Mozambican metical
103  NAD     N$           Namibian dollar
104  NGN      ₦            Nigerian naira
105  NIO     C$        Nicaraguan córdoba
106  NOK     kr           Norwegian krone
107  NPR      ₨            Nepalese rupee
108  NZD      $        New Zealand dollar
109  OMR   ر.ع.                Omani rial
110  PAB    B/.         Panamanian balboa
111  PEN     S/                       Sol
112  PGK      K  Papua New Guinean kina')
113  PHP      ₱           Philippine peso
114  PKR      ₨           Pakistani rupee
115  PLN     zł              Polish złoty
116  PRB     р.       Transnistrian ruble
117  PYG      ₲        Paraguayan guaraní
118  QAR    ر.ق              Qatari riyal
119  RON    lei              Romanian leu
120  RSD    рсд             Serbian dinar
121  RUB      ₽             Russian ruble
122  RWF     Fr             Rwandan franc
123  SAR    ر.س               Saudi riyal
124  SBD      $  Solomon Islands dollar')
125  SCR      ₨         Seychellois rupee
126  SDG   ج.س.            Sudanese pound
127  SEK     kr             Swedish krona
128  SGD      $          Singapore dollar
129  SHP      £        Saint Helena pound
130  SLL     Le      Sierra Leonean leone
131  SOS     Sh           Somali shilling
132  SRD      $         Surinamese dollar
133  SSP      £      South Sudanese pound
134  STN     Db   São Tomé and Príncipe d
135  SYP    ل.س              Syrian pound
136  SZL      L           Swazi lilangeni
137  THB      ฿                 Thai baht
138  TJS     ЅМ        Tajikistani somoni
139  TMT      m        Turkmenistan manat
140  TND    د.ت            Tunisian dinar
141  TOP     T$            Tongan paʻanga
142  TRY      ₺              Turkish lira
143  TTD      $  Trinidad and Tobago doll
144  TWD    NT$         New Taiwan dollar
145  TZS     Sh        Tanzanian shilling
146  UAH      ₴         Ukrainian hryvnia
147  UGX    UGX          Ugandan shilling
148  USD      $  United States (US) dolla
149  UYU      $            Uruguayan peso
150  UZS    UZS           Uzbekistani som
151  VEF   Bs F        Venezuelan bolívar
152  VES   Bs.S          Bolívar soberano
153  VND      ₫           Vietnamese đồng
154  VUV     Vt              Vanuatu vatu
155  WST      T               Samoan tālā
156  XAF    CFA    Central African CFA fr
157  XCD      $     East Caribbean dollar
158  XOF    CFA    West African CFA franc
159  XPF     Fr                 CFP franc
160  YER      ﷼               Yemeni rial
161  ZAR      R        South African rand
162  ZMW     ZK            Zambian kwacha

In [33]:
#Read json
gg = pd.read_json('sample1.json')
print(gg.to_string())

    fruit   size   color
0   Apple  Large     Red
1  Orange  Large  orange

Analyzing Dataframes

In [34]:
#head(): 
    #returns the headers and specified number of rows
rd = pd.read_csv('currency.csv')
print(rd.head(10))

  Code Symbol                      Name
0  AED    د.إ    United Arab Emirates d
1  AFN      ؋            Afghan afghani
2  ALL      L              Albanian lek
3  AMD    AMD             Armenian dram
4  ANG      ƒ  Netherlands Antillean gu
5  AOA     Kz            Angolan kwanza
6  ARS      $            Argentine peso
7  AUD      $         Australian dollar
8  AWG   Afl.             Aruban florin
9  AZN    AZN         Azerbaijani manat

In [35]:
##tail():
    #returns the headers and specified numbers of rows from the bottom
print(rd.tail(5))

    Code Symbol                    Name
158  XOF    CFA  West African CFA franc
159  XPF     Fr               CFP franc
160  YER      ﷼             Yemeni rial
161  ZAR      R      South African rand
162  ZMW     ZK          Zambian kwacha

In [ ]:
#info():
    #gives infot about the data
print(rd.info())